@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: Raleway; }

wrapper {
  width: 100%; }

wrapper.flex {
  display: flex;
  flex-direction: column; }

/************************
***** HEADER STYLES *****
************************/
header {
  margin: 0;
  background: #7477bf;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center; }

.main-nav {
  order: 2;
  background: #cecece;
  padding: 0; }
  .main-nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 50px; }
    .main-nav ul li {
      padding: 10px;
      background: #fefefe;
      align-self: flex-end;
      height: 50px;
      line-height: 30px; }
    .main-nav ul span {
      vertical-align: middle; }
    .main-nav ul input {
      height: 30px;
      align-self: center; }

/***********************
**** SIDEBAR STYLES ****
***********************/
aside {
  background: #9B9FFF;
  color: #fefefe; }

aside nav ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0; }

aside ul li {
  list-style-type: none;
  flex-grow: 1;
  padding: 10px; }

svg {
  width: 100%; }

/****************************
**** MAIN CONTENT STYLES ****
****************************/
main {
  order: 3;
  padding: 10px; }

.graph-nav li {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  padding: 10px; }
.graph-nav ul {
  padding: 0;
  margin: 0 auto; }

.active {
  background: tomato;
  border-radius: 10px;
  font-weight: bold; }

.card {
  background: lightgrey;
  padding: 20px;
  border-radius: 5px;
  flex-grow: 1;
  flex-basis: 100%;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap; }
  .card h3 {
    margin: 0; }
  .card .card-text-holder {
    width: 50px; }

.visitor-num {
  font-weight: bold;
  font-size: 1.3em; }

.social {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around; }

.social svg {
  width: 50px; }

/*************************************
** NEWS AND RECENT ACTIVITY SECTION **
*************************************/
section.news {
  display: flex;
  flex-flow: column; }

.member {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
  margin: 20px; }
  .member .member-info-container .member-date {
    float: right; }

.member-img img {
  border-radius: 50%;
  width: 100%; }

.member-name {
  font-weight: bold; }

.recent-activity {
  display: flex;
  flex-direction: column; }
  .recent-activity .activity {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    margin: 20px; }
  .recent-activity p {
    float: left; }

.arrow {
  float: right; }

/*# sourceMappingURL=application.css.map */
