@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway");
.main-nav ul input[type="search"], form select, form input[type="text"], form textarea {
  padding: 5px;
  outline: none;
  background: #eee;
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;
  width: 100%; }

button {
  transition: background .2s ease-out, color .2s ease-out;
  border: none;
  width: 100%;
  padding: 15px 10px;
  cursor: pointer;
  color: #fefefe;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
  margin: 5px 0; }

form button[type="submit"]:hover {
  background: #ffa500;
  color: #020202; }

aside ul li:hover, .active-nav {
  border-left: 2px solid #85db80; }
  aside ul li:hover path, .active-nav path {
    fill: #fefefe;
    opacity: 1; }

h3 label {
  color: #7477bf;
  text-transform: uppercase;
  text-shadow: 2px 2px #4d4c72; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: Raleway; }

wrapper {
  width: 100%; }

wrapper.flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }
  @media screen and (min-width: 768px) {
    wrapper.flex {
      flex-flow: row nowrap;
      justify-content: flex-start; } }

section {
  border-bottom: 1px solid lightgrey;
  padding: 0 20px; }

.one-col {
  margin: 0 auto;
  max-width: 1024px;
  padding: 10px 0; }

.two-col {
  margin: 0 auto;
  max-width: 1024px;
  padding: 10px 0; }
  @media screen and (min-width: 768px) {
    .two-col {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; } }

.three-col {
  margin: 0 auto;
  max-width: 1024px;
  padding: 10px 0; }
  @media screen and (min-width: 1024px) {
    .three-col {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; } }

h3,
legend {
  text-transform: uppercase;
  color: #4d4c72;
  font-weight: bold; }

/************************
***** HEADER STYLES *****
************************/
header {
  margin: 0;
  background: #7477bf;
  color: #fbfbfb;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between; }
  @media screen and (min-width: 768px) {
    header {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px 0 20px; } }
  header .t-center {
    text-align: center;
    width: 100%; }
    @media screen and (min-width: 768px) {
      header .t-center {
        width: auto;
        text-align: left; } }
  header .member-name {
    display: inline-block;
    height: 32px; }

.profile-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 10px;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .profile-info {
      height: 100%;
      padding: 0; } }
  .profile-info .img-container {
    width: 32px; }
  .profile-info .bell {
    position: relative; }
    .profile-info .bell path {
      fill: #fbfbfb; }
    @media screen and (min-width: 768px) {
      .profile-info .bell {
        border-right: 1px solid lightblue;
        width: 42px;
        padding-right: 10px; } }
  .profile-info .not-icon {
    position: absolute;
    top: -4px;
    right: 15px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #81c98f; }

.member-img {
  width: 32px;
  display: inline-block; }
  .member-img img {
    border-radius: 50%;
    width: 100%; }

.logged-in {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end; }
  .logged-in * {
    margin: 0 10px; }

.main-nav {
  background: #cecece; }
  @media screen and (min-width: 768px) {
    .main-nav {
      padding: 0 20px; } }
  .main-nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    height: 50px;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    max-width: 1024px; }
    .main-nav ul li {
      padding: 10px 10px 10px 0;
      background: #fefefe;
      align-self: flex-end;
      height: 50px;
      line-height: 30px;
      padding-left: 10px;
      font-weight: bold; }
    .main-nav ul span {
      vertical-align: middle; }
    .main-nav ul input {
      height: 30px;
      align-self: center; }
    .main-nav ul input[type="search"] {
      width: auto;
      background: #fefefe; }

/***********************
**** SIDEBAR STYLES ****
***********************/
aside {
  background: #4d4c72;
  color: #fbfbfb; }

aside nav ul {
  height: 100%;
  display: flex;
  flex-flow: column no-wrap;
  justify-content: space-around;
  padding: 0; }
  @media screen and (min-width: 768px) {
    aside nav ul {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 68px; } }

aside ul li {
  margin: 10px 0;
  list-style-type: none;
  flex-grow: 1;
  padding: 15px;
  width: 100%; }
  aside ul li path {
    fill: #fbfbfb;
    opacity: 0.5; }

svg {
  width: 100%; }

/****************************
**** MAIN CONTENT STYLES ****
****************************/
main {
  order: 3;
  padding: 0; }
  @media screen and (min-width: 768px) {
    main {
      flex-basis: 100%; } }

.alert {
  text-align: center;
  background: #7477bf;
  padding: 10px 0;
  color: #fbfbfb;
  margin: 0 auto;
  max-width: 1024px;
  margin: 20px auto 0 auto;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }
  .alert span {
    margin: 0 20px; }
  .alert span:nth-child(2) {
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer; }

.social-stats h3 {
  margin-bottom: 2px; }

.graph-nav li {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  transition: background .3s ease-in-out, border-radius -3s ease-in-out; }
.graph-nav ul {
  padding: 0;
  margin: 0 auto; }

.line-chart-holder {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 20px; }

.active {
  background: #7477bf;
  border-radius: 10px;
  width: auto;
  font-weight: bold; }

.card {
  border: 2px solid #7477bf;
  background: #fefefe;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  flex-grow: 1;
  flex-basis: 100%;
  margin: 10px 0; }
  @media screen and (min-width: 768px) {
    .card {
      flex-basis: 30%;
      flex-grow: 0; } }
  .card h3 {
    margin: 0; }
  .card .card-text-holder {
    width: 100px; }
  .card .img-container {
    width: 100px; }
    .card .img-container img {
      width: 100%;
      height: 100%; }

.visitor-num {
  font-size: 2em; }

.social {
  margin: 0 auto;
  max-width: 1024px; }
  .social svg {
    width: 100px;
    height: 100px; }

.card-holder {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0; }

@media screen and (min-width: 768px) {
  .left {
    flex-grow: 1;
    margin-right: 10px;
    border-right: 1px solid lightgrey; }

  .right {
    flex-grow: 1;
    margin-left: 10px; } }
/*************************************
** NEWS AND RECENT ACTIVITY SECTION **
*************************************/
.news {
  justify-content: space-evenly; }

.new-members, .recent-activity {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .new-members, .recent-activity {
      padding: 20px; } }

@media screen and (min-width: 768px) {
  .new-members {
    border-right: 1px solid lightgrey; } }

.member,
.activity {
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid lightgrey; }
  @media screen and (min-width: 768px) {
    .member,
    .activity {
      height: 100px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 0 10px 0; } }
  .member .activity-info,
  .activity .activity-info {
    width: 100%; }
  .member .member-img,
  .activity .member-img {
    width: 50px; }
    @media screen and (min-width: 768px) {
      .member .member-img,
      .activity .member-img {
        margin-right: 10px; } }
    .member .member-img img,
    .activity .member-img img {
      width: 100%; }
  .member .member-name,
  .activity .member-name {
    font-weight: bold; }
  .member .member-email,
  .activity .member-email {
    display: block; }
  .member .time-passed,
  .activity .time-passed {
    display: block; }
  .member .arrow,
  .activity .arrow {
    float: right; }

/******************************
**** COMMUNICATION SECTION ****
******************************/
fieldset {
  border: none; }

form {
  margin-top: 10px; }
  form input[type="text"] {
    margin: 10px 0; }
  form textarea {
    margin-bottom: 10px;
    min-height: 100px; }
  form button[type="submit"] {
    background: #7477bf; }
  form button[type="reset"] {
    background: #b2b2b2; }
  form .message {
    display: none;
    border: 1px solid #7477bf;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 1024px; }
    form .message p {
      font-weight: bold; }
  form .wrong {
    background: red; }
  form .right {
    background: green; }

.settings div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }

@media screen and (min-width: 768px) {
  .send-message {
    flex-grow: 1;
    flex-basis: 50%;
    border-right: 1px solid lightgrey;
    max-width: 50%; }

  .settings {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 50%;
    max-width: 50%;
    align-items: stretch; }
    .settings button {
      width: 44%;
      display: inline-block; }
    .settings button[type="submit"] {
      float: left;
      margin-right: 3%; }
    .settings button[type="reset"] {
      float: right;
      margin-left: 3%; }
    .settings label {
      line-height: 50px; } }
/*SLIDER TAKEN FROM W3 SCHOOLS*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }
  .switch input {
    display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }

input:checked + .slider {
  background-color: #4d4c72; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }
  .slider.round:before {
    border-radius: 50%; }

/*****************************
******* FOOTER STYLES ********
*****************************/
footer {
  padding: 0 10px; }
  footer p {
    margin-top: 0; }

/*# sourceMappingURL=application.css.map */
