@import 'utilities/functions';
* {
	box-style: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: Raleway;
}
wrapper {
	width: 100%;
}
header {
	margin: 0;
	background: #7477bf;
	color: #fff;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
}
header ul {
	list-style-type: none;
}
wrapper.flex {
	display: flex;
	flex-direction: column;
}
aside {
	order: 1;
}
aside nav ul {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	padding: 0;
}
aside ul li {
	list-style-type: none;
	flec-grow: 1;
	padding: 10px;
}
main {
	order: 2;
	padding: 10px;
}
canvas {
	width: px-to-pct(320px, 320px);
	height: 100px;
}
.graph-nav {
	ul li {
		list-style-type: none;
		display: inline-block;
		cursor: pointer;
		padding: 7px;
	}
}
.active {
	background: tomato;
	border-radius: 10px;
	font-weight: bold;
}
.line-chart-holder {
	display: none;
}

svg .st0 {
	fill: black;
}
