//mixins and extensions
@mixin img-container ($w: 32px) {
	width: $w;
}
@mixin round-corners ($br: 50%, $w: 100%) {
	border-radius: $br;
	width: $w;
}
@mixin flex ($f-dir: row,
				$f-wrap: wrap,
				$f-just: space-around) {
	display: flex;
	flex-flow: $f-dir $f-wrap;
	justify-content: $f-just;
	@content;
}


//exentension
//input extensions
%input-basic {
	padding: 5px;
	outline: none;
	background: #eee;
	border: 1px solid grey;
	@include round-corners($br: 5px);
	width: 100%;
}
%btn-basic {
	border: none;
	background: $color-brand-bg;
	width: 100%;
	padding: 15px 10px;
	@include round-corners($br: 5px);
	margin: $gutter/2 0;
}
