//mixins and extensions
@mixin img-container ($w: 32px) {
	width: $w;
}
@mixin round-corners ($br: 50%, $w: 100%) {
	border-radius: $br;
	width: $w;
}
@mixin flex ($f-dir: row,
				$f-wrap: wrap,
				$f-just: space-between) {
	display: flex;
	flex-flow: $f-dir $f-wrap;
	justify-content: $f-just;
	@content;
}
@mixin max-width {
	margin: 0 auto;	
	max-width: $br-lg;
}


//extensions
//input extensions
%input-basic {
	padding: 5px;
	outline: none;
	background: #eee;
	border: 1px solid grey;
	@include round-corners($br: 5px);
	width: 100%;
}
%input-search {

}
%btn-basic {
	transition: background .2s ease-out, color .2s ease-out;
	border: none;
	width: 100%;
	padding: 15px 10px;
	cursor: pointer;
	color: #fefefe;
	font-weight: bold;
	@include round-corners($br: 5px);
	margin: $gutter/2 0;
}
%btn-cta {
	background: #ffa500;
	color: #020202;
}

%active-nav {
	path {
		fill: #fefefe;
		opacity: 1;
	}
	border-left: 2px solid #85db80;
}
