//Colors
$color-brand-bg: #7477bf;
$color-accent-bg: #9B9FFF;
$color-main-bg: #fefefe;

$color-font-default: #fefefe;
$color-border-default: lightgrey;


//Layout
$gutter: 10px;
$lg-gutter: 20px;

//Media queries
$br-small: 320px;
$br-med: 768px;
$br-lg: 1024px;