//Colors
$color-brand-bg: #7477bf;
$color-accent-bg: #4d4c72;
$color-main-bg: #fefefe;
$color-silent: #b2b2b2; //opposite of CTA
$color-cta: #ffa500;

$color-font-default: #fbfbfb;
$color-border-default: lightgrey;


//Layout
$gutter: 10px;
$lg-gutter: 20px;

//Media queries
$br-sm: 320px;
$br-med: 768px;
$br-lg: 1024px;