/***********************
**** SIDEBAR STYLES ****
***********************/

aside {
	background: $color-accent-bg;
	color: $color-font-default;
}
aside nav ul {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	padding: 0;
}
aside ul li {
	list-style-type: none;
	flex-grow: 1;
	padding: 10px;
}
svg {
	width: 100%;
}
