/****************************
**** MAIN CONTENT STYLES ****
****************************/
main {
  order: 3;
  padding: 0;
  @media screen and (min-width: 768px) {
    flex-basis: 100%;
  }
}
.graph-nav {
  li {
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
    padding: $gutter;
    transition: background .3s ease-in-out, border-radius -3s ease-in-out;
  }
  ul {
    padding: 0;
    margin: 0 auto; 
  }
}
.active {
  background: $color-brand-bg;
  @include round-corners($br: 10px, $w: auto);
  font-weight: bold;
}

.card {
  background: lightgrey;
  padding: $lg-gutter;
  @include round-corners($br: 5px);
  @include flex($f-wrap: nowrap);
  flex-grow: 1;
  flex-basis: 100%;
  margin: $gutter;
  h3 {
      margin: 0;
  }
  .card-text-holder {
      width: 50px;
  }
}
.visitor-num {
  font-weight: bold;
  font-size: 1.3em;
}
.social {
  @include flex;
  width: 100%;
}
.social svg {
  width: 50px;
}
.one-col {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .two-col {
    max-width: 718px;
    display: flex;
    flex-flow: row nowrap;
    .left {
      flex-grow: 1;
    }
    .right {
      flex-grow: 1;
    }
  }
  .three-col {
    display: flex;
    flex-flow: row nowrap;
  }
}
