/****************************
**** MAIN CONTENT STYLES ****
****************************/
main {
  order: 3;
  padding: 0;
  @media screen and (min-width: 768px) {
    flex-basis: 100%;
  }
}
.alert {
  text-align: center;
  background: $color-brand-bg;
  padding: $gutter 0;
  color: $color-font-default;
  @include max-width;
  margin: $lg-gutter auto;
  @include round-corners(5px);
  @include flex($f-wrap: nowrap, $f-just: space-between);
  align-items: center;
  span {
    margin: 0 $lg-gutter;
  }
  span:nth-child(1),
  span:nth-child(3) {
    font-weight: bold;
    font-size: 1.2em;
  }
  span:nth-child(3) {
    cursor: pointer;
  }
}
.social-stats h3 {
  margin-bottom: 2px;
}
.graph-nav {
  li {
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
    padding: $gutter;
    transition: background .3s ease-in-out, border-radius -3s ease-in-out;
  }
  ul {
    padding: 0;
    margin: 0 auto; 
  }
}
.line-chart-holder {
  margin: 0 auto;
  width: 100%;
  padding-bottom: $lg-gutter;
}
.active {
  background: $color-brand-bg;
  @include round-corners($br: 10px, $w: auto);
  font-weight: bold;
}

.card {
  border: 2px solid $color-brand-bg;
  background: #efefef;
  padding: $lg-gutter;
  @include round-corners($br: 5px);
  @include flex($f-wrap: nowrap, $f-just: space-around);
  flex-grow: 1;
  flex-basis: 100%;
  margin: 10px 0;
  @media screen and (min-width: 768px) {
    flex-basis: 30%;
    flex-grow: 0;
  }
  h3 {
      margin: 0;
  }
  .card-text-holder {
      width: 50px;
  }
  .img-container {
    svg {
      path {
        fill: $color-brand-bg;
      }
    }
  }
}
.visitor-num {
  font-weight: bold;
  font-size: 1.3em;
}
.social {
   @include max-width;
}
.card-holder {
  @include flex ($f-dir: column);
  width: 100%;
  padding: $lg-gutter 0;
}

.social svg {
  width: 50px;
}

@media screen and (min-width: 768px) {
  .left {
    flex-grow: 1;
    margin-right: $gutter;
    border-right: 1px solid $color-border-default;
  }
  .right {
    flex-grow: 1;
    margin-left: $gutter;
  }
}

