/****************************
**** MAIN CONTENT STYLES ****
****************************/
main {
	order: 3;
	padding: $gutter;
}
.graph-nav {
	li {
		list-style-type: none;
		display: inline-block;
		cursor: pointer;
		padding: $gutter;
	}
	ul {
		padding: 0;
		margin: 0 auto;	
	}
}
.active {
	background: tomato;
	border-radius: 10px;
	font-weight: bold;
}

.card {
	background: lightgrey;
	padding: $lg-gutter;
	border-radius: 5px;
	flex-grow: 1;
	flex-basis: 100%;
	margin: $gutter;
	display: flex;
	justify-content: space-around	;
	flex-flow: row nowrap;
	h3 {
		margin: 0;
	}
	.card-text-holder {
		width: 50px;
	}
}
.visitor-num {
	font-weight: bold;
	font-size: 1.3em;
}
.social {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	justify-content: space-around;
}
.social svg {
	width: 50px;
}
