.main-nav {
	background: #cecece;
	padding: 0;
	@media screen and (min-width: 768px) {
		padding: 0 20px 0 0;
	}
	ul {
		list-style-type: none;
		@include flex ($f-just: space-between);
		margin: 0;
		height: 50px;
		padding: 0;
		width: 100%;
		li {	
			padding: 10px 10px 10px 0;
			background: $color-main-bg;
			align-self: flex-end;
			height: 50px;
			line-height: 30px;
			padding-left: $gutter;
			}
			span {
				vertical-align: middle;
			}
		input {
			height: 30px;
			align-self: center;
		}
	}
}