/*************************************
** NEWS AND RECENT ACTIVITY SECTION **
*************************************/

section.news {
	@include flex($f-dir: row);
	padding: 0 $lg-gutter 0 $lg-gutter;
	@media screen and (min-width: $br-med) {
			flex-flow: row nowrap;
			align-items: flex-start;
			.new-members {
				border-right: 1px solid $color-border-default;
			}
	}
	.new-members,
	.recent-activity {
		padding: $lg-gutter;
		width: 100%;
		@include flex ($f-dir: column, $f-wrap: nowrap, $f-just: center);
		.member,
		.activity {
			width: 100%;
			display: flex;
			align-items: center;
			padding: $gutter 0 $gutter 0;
			@media screen and (min-width: $br-lg) {
				border-bottom: 1px solid $color-border-default;
			}
		}
	}
}
.time-passed {
	display: block;				
}
.activity-info {
	width: 100%;
}
.member-name {
	font-weight: bold;
}
.member-info-container {
	.member-date {
		display: block;
	}

	.member-email {
		display: block;
	}
}
.arrow {
	float: right;
}
.member-img {
	width: 50px;
	margin-right: $gutter/2;
	img {
		width: 50px;
	}
}


