/***********************
**** SIDEBAR STYLES ****
***********************/

aside {
	background: $color-accent-bg;
	color: $color-font-default;
}
aside nav ul {
	height: 100%;
	@include flex ($f-just: space-around, $f-dir: row, $f-wrap: nowrap);
	padding: 0;
	@media screen and (min-width: 768px) {
		flex-direction: column;
		align-items: center;
		width: 68px;
	}
}
aside ul li {
	margin: 10px 0;
	list-style-type: none;
	flex-grow: 1;
	padding: 15px;
	width: 100%;
	max-width: 64px;
	&:hover {
		@extend %active-nav;
	}
	path {
		fill: $color-font-default;
		opacity: 0.5;
	}
}
.active-nav {
	@extend %active-nav;
}
svg {
	width: 100%;
}
