/******************************
**** COMMUNICATION SECTION ****
******************************/
fieldset {
	border: none;
}

form {
	select {
		@extend %input-basic;
	}
	margin-top: $gutter;
	input[type="text"] {
		@extend %input-basic;
		margin: $gutter 0;
	}
	textarea {
		@extend %input-basic;
		margin-bottom: $gutter;
		min-height: 100px;
	}
	button[type="submit"] {
		background: $color-brand-bg;
		&:hover {
			@extend %btn-cta;
		}
	}
	button[type="reset"] {
		background: $color-silent;
	}
	.message {
		display: none;
		border: 1px solid $color-brand-bg;
		text-align: center;
		border-radius: 5px;
		@include max-width;	
		p {
			font-weight: bold;
		}
	}
	.wrong {
		background: red;
	}
	.right {
		background: green;
	}
}
@media screen and (min-width: $br-med) {
	.send-message {
		flex-grow: 1;
		flex-basis: 50%;
		border-right: 1px solid $color-border-default;
		max-width: 50%;
	}
	.settings {
		@include flex ($f-dir: column, $f-wrap: nowrap, $f-just: space-between);
		flex-grow: 1;
		flex-basis: 50%;
		max-width: 50%;
		button {
			width: 44%;
			display: inline-block;
		}
		button[type="submit"] {
			float: left;
			margin-right: 3%;
		}
		button[type="reset"] {
			float: right;
			margin-left: 3%;
		}
		label {
			line-height: 50px;
		}
	}
}

