/******************************
**** COMMUNICATION SECTION ****
******************************/
fieldset {
	border: none;
}

form {
	select {
		@extend %input-basic;
	}
	margin-top: $gutter;
	input[type="text"] {
		@extend %input-basic;
		margin: $gutter 0;
	}
	textarea {
		@extend %input-basic;
		margin-bottom: $gutter;
		min-height: 100px;
	}
	button[type="submit"] {
		background: $color-brand-bg;
		&:hover {
			@extend %btn-cta;
		}
	}
	button[type="reset"] {
		background: $color-silent;
	}
	.message {
		display: none;
		border: 1px solid $color-brand-bg;
		text-align: center;
		border-radius: 5px;
		@include max-width;	
		p {
			font-weight: bold;
		}
	}
	.wrong {
		background: red;
	}
	.right {
		background: green;
	}
}
.settings {
	div {
		@include flex ();
		align-items: center;
	}
}
@media screen and (min-width: $br-med) {
	.send-message {
		flex-grow: 1;
		flex-basis: 50%;
		border-right: 1px solid $color-border-default;
		max-width: 50%;
	}
	.settings {
		@include flex ($f-dir: column, $f-wrap: nowrap, $f-just: space-between);
		flex-grow: 1;
		flex-basis: 50%;
		max-width: 50%;
		align-items: stretch;
		button {
			width: 44%;
			display: inline-block;
		}
		button[type="submit"] {
			float: left;
			margin-right: 3%;
		}
		button[type="reset"] {
			float: right;
			margin-left: 3%;
		}
		label {
			line-height: 50px;
		}
	}
}
/*SLIDER TAKEN FROM W3 SCHOOLS*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {display:none;}
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
	  &:before {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}
}
input:checked + .slider {
  background-color: $color-accent-bg;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  &:before {
  	border-radius: 50%;
  }
}

