.main-nav {
	background: #cecece;
	@media screen and (min-width: $br-med) {
		padding: 0 20px;
	}
	div {
		list-style-type: none;
		@include flex ($f-just: space-between);
		margin: 0;
		height: 50px;
		padding: 0;
		width: 100%;
		@include max-width;
		span {	
			padding: 10px 10px 10px 0;
			background: $color-main-bg;
			align-self: flex-end;
			height: 50px;
			line-height: 30px;
			padding-left: $gutter;
			font-weight: bold;
			}
			span {
				vertical-align: middle;
			}
		input {
			height: 30px;
			align-self: center;
		}
		input[type="search"] {
			@extend %input-basic;
			width: auto;
			background: $color-main-bg;
		}
	}
}