/*************************************
** NEWS AND RECENT ACTIVITY SECTION **
*************************************/
%member-and-activity {
	@media screen and (min-width: $br-med) {
		padding: $lg-gutter;
	}
	width: 100%;
}
.new-members {
	@extend %member-and-activity;
	@media screen and (min-width: $br-med) {
		border-right: 1px solid $color-border-default;
	}
}
.recent-activity {
	@extend %member-and-activity;
}
.member,
.activity {
	padding: $gutter 0;
	width: 100%;
	border-bottom: 1px solid $color-border-default;
	@media screen and (min-width: $br-med) {
		height: 100px;
		@include flex($f-wrap: nowrap, $f-just: flex-start);
		align-items: center;
		padding: $gutter 0 $gutter 0;
	}
	.activity-info {
		width: 100%;
	}
	.member-img {
		width: 50px;
		@media screen and (min-width: $br-med) {
			margin-right: $gutter;			
		}

		img {
			width: 100%;
		}
	}
	.member-name {
		font-weight: bold;
	}
	.member-email {
		display: block;
	}
	.time-passed {
		display: block;
	}
	.arrow {
		@include img-container;
		float: right;
		img {
			max-width: 32px;
		}
	}
	.member-date {
	}
}